[Unit]
Description=Boooooomba
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Restart=always
RestartSec=1s
ExecStart=bomba
User=root

[Install]
WantedBy=multi-user.target
